<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Flask App{% endblock %}</title>   
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">



</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}"class="btn btn-primary">Home</a></li>
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                        <li><a href="{{ url_for('admin_dashboard') }}"class="btn btn-primary">Admin Dashboard</a></li>
						 <li><a href="{{ url_for('add_customer') }}" class="btn btn-primary">Add User Record</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}" class="btn btn-primary">Login</a></li>
                    <li><a href="{{ url_for('register') }}" class="btn btn-primary">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}
</body>
</html>
