{% extends "base.html" %}

{% block title %}User Dashboard{% endblock %}

{% block content %}
<h1>User Dashboard</h1>
<p>Welcome, {{ customer.name }}!</p>
<p>Your current balance is: ${{ customer.current_balance }}</p>

<h3>Transaction Log</h3>
<div id=trans>
{% if transactions %}
    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.amount }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No transactions found.</p>
</div>	
{% endif %}
{% endblock %}
